.page {
    position: relative;
    width: 100vw;
    height: 100vw;
}

main {
    width: 100vw;
    height: 85vh;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
    width: 100vw;
    height: 6vw;
    display: flex;
    flex-wrap: wrap;
    color: #020202;
}

.flex-left {
    flex: 50%;
    display: flex;
    justify-content: left;
    padding: 12px;
}

.flex-right {
    flex: 50%;
    display: flex;
    justify-content: right;
    padding: 12px;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #3DCAF6;
    justify-content: center;
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    padding: 10px;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
