@inherits LayoutComponentBase

<PageTitle>Paint-Calculator</PageTitle>

<div class="page">
    <nav>
        <div class="top-row px-4">
            <h1 class="title">Paint Calculator</h1>
        </div>
    </nav>
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
        <p class="flex-left">James Ashwood | <a href="https://borwell.com/software-challenge/" class="mute-link"> Borwell Software Challenge</a></p>
        <p class="flex-right"> @DateTime.Now.ToString("d/M/yyyy")</p>
    </footer>
</div>
