.page[b-2ojg45015j] {
    position: relative;
    width: 100vw;
    height: 100vw;
}

main[b-2ojg45015j] {
    width: 100vw;
    height: 85vh;
}

footer[b-2ojg45015j] {
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
    width: 100vw;
    height: 6vw;
    display: flex;
    flex-wrap: wrap;
    color: #020202;
}

.flex-left[b-2ojg45015j] {
    flex: 50%;
    display: flex;
    justify-content: left;
    padding: 12px;
}

.flex-right[b-2ojg45015j] {
    flex: 50%;
    display: flex;
    justify-content: right;
    padding: 12px;
}

.sidebar[b-2ojg45015j] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2ojg45015j] {
    background-color: #3DCAF6;
    justify-content: center;
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.title[b-2ojg45015j] {
    color: white;
    padding: 10px;
}

    .top-row[b-2ojg45015j]  a, .top-row .btn-link[b-2ojg45015j] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2ojg45015j] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2ojg45015j] {
        display: none;
    }

    .top-row.auth[b-2ojg45015j] {
        justify-content: space-between;
    }

    .top-row a[b-2ojg45015j], .top-row .btn-link[b-2ojg45015j] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2ojg45015j] {
        flex-direction: row;
    }

    .sidebar[b-2ojg45015j] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2ojg45015j] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-2ojg45015j], article[b-2ojg45015j] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
